
@import url('https://fonts.googleapis.com/css2?family=Antic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    border: 0;
    margin: 0;
    padding: 0;
   }


   /*DIV TOPO VENDAS*/

   #divtopo_vendas{
    background-color:#FFFEFE;
    width: 100%;
    height: 45%;
    border-radius: 0px 0px 40px 40px;
    box-shadow: 0px 2px 8px #E5E5E5;
   }

   #menu_hamburguer{
    width: 92%;
    height: 48%;
    margin-left: 28%;
    margin-top: 37%;
   }

   #sino_alerta{
    margin-left: 172%;
    width: 21%;
    margin-top: 13%;
   }


   #config{
    margin-left: 205%;
    width: 38%;
    margin-top: 21%;
   }

   #titulo_vendastopo{
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 87px;
    letter-spacing: 0.055em;
    color: #000000;
    margin-top: 3%;
    margin-left: 5%;
   }


   #mes_atual_vendas{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.055em;
    color: #000000;
    margin-left: 6%;
    margin-top: -6%;
   }


   #dias_semana{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: -20px auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.04em;
    color: rgb(0 0 0 / 65%);
   }

   #div_qtd_vendas{
   	display: flex;
    justify-content: space-around;
    width: 98%;
    margin: 55px 0px 30px 0px;
   }

   #circulo_qtdvendas{
   	height: 35px;
   	width: 35px;
   }

   #qtd_vendas{
   	margin: 9px auto;
    text-align: center;
    font-size: 80%;
   }


   /*FIM DIV TOPO VENDAS*/




   /*NOME PRODUTOS E BOTÃO VER MAIS*/
   #titulo_produtos{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 23px;
    letter-spacing: 0.055em;
    color: #000000;
    margin-left: 5%;
    margin-top: 7%;
   }

   #botão_vermais{
    margin-top: 6%;
    margin-left: 40%;
    background: #F6C1B6;
    box-shadow: 0px 2px 8px #E5E5E5;
    border-radius: 10px;
    width: 93.99px;
    height: 28.93px;
    text-align: center;
   }

   #texto_vermais{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.055em;
    color: #000000;
    margin-top: 7%;
    margin-left: 4%;
   }

   /* FIM NOME PRODUTOS E BOTÃO VER MAIS*/




   /*CAROUSEL*/

  #divexterna_carousel{
      margin-left: 3%;
      margin-top: -3%;
  }

   #imagem_produtos{
    height: 75%; border-radius: 9px;
    background-color: red;
   }

   /*FIM CAROUSEL*/
   



   /*DIV LUCROS*/
  #div_lucros{
    background-color: #FFFEFE;
    width:  91%;
    height: 52%;
    box-shadow: 0px 2px 8px #E5E5E5;
    border-radius: 16px;
    margin: -28px auto;
    margin-bottom: 4%;
   }


   #titulo_lucros{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.055em;
    color: #000000;
    padding: 5%;
   }

   #total_circulo{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
   }

   #valor_lucrosanuais{
    margin-top: 13%;
    font-family: Antic;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 20px;
    color: #000000;
   }

   #ano_lucros{
    font-family: Antic;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    color: #000000;
   }

   #valores_lucros{
    margin-top: 10%;
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 14px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #000000;
   }

   #HR{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: -4%;
   }

   
   #datas_lucros{
    margin-top: -4%;
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300; 
    line-height: 20px;
    letter-spacing: 0.055em;
    color: #000000;
   }


   #div_circulo{
    margin: 0 auto;
    height: 48%;
    width: 41%;
   }

   #textos_circulo{
    margin-top: -78%;
    text-align: center;
    margin: -108px 21px;
    position: absolute;
   }

   /*FIM DIV LUCROS*/




 @media only screen 
  and (min-device-width: 300px) 
  and (max-device-width: 340px)
  and (-webkit-min-device-pixel-ratio: 2) {

    #sino_alerta{
    margin-left: 129%;
    width: 22%;
   }


   #config{
    margin-left: 132%;
    width: 38%;
   }


   #menu_hamburguer {
    width: 71%;
   }

  
    #vendas_topo{
    font-size: 18px;
    }


    #texto_vermais {
      font-size: 13px;
      margin-top: 7%;
      margin-left: 4%;
    }

    #botão_vermais {
      margin-left: 38%;
      width: 88.99px;
      height: 25.93px;
    }

    #titulo_produtos{
      font-size: 19px;
    }


    #div_circulo{
      margin: 0px 0px 0px 74px;
     }

     #valores_lucros{
      font-size: 13px;
     }

     #datas_lucros{
      font-size: 14px;
     }

     #divtopo_vendas{
      height: 51%;
     }

  }


  @media only screen 
  and (min-device-width: 341px) 
  and (max-device-width: 365px)
  and (-webkit-min-device-pixel-ratio: 2) {

  #sino_alerta{
    margin-left: 164%;
   }


   #config{
    margin-left: 180%;
   }

    #vendas_topo{
    font-size: 22px;
   }

   #div_lucros{
    height: 50%;
   }

   #botão_vermais{
    width: 93.99px;
    height: 26.93px;
   }

   #div_qtd_vendas {
    margin: 53px 0px 30px 0px;
   }

   #titulo_vendastopo {
   	margin-top: 10%;
   }

   #divtopo_vendas {
    height: 50%;
  }

  }


  @media only screen 
  and (min-device-height: 700px) 
  and (max-device-height: 746px)
  and (-webkit-min-device-pixel-ratio: 2) {

  #sino_alerta{
    margin-left: 188%;
   }


   #config{
    margin-left: 233%;
   }

    #vendas_topo{
    font-size: 22px;
   }

   #div_lucros{
    height: 45%;
   }

   #div_qtd_vendas {
    margin: 65px 0px 30px 0px;
   }

   #titulo_vendastopo {
   	margin-top: 10%;
   }

   #div_circulo {
    width: 37%;
   }

   #botão_vermais {
    margin-top: 7%;
    margin-left: 45%;
   }

  }


  @media only screen 
  and (min-device-height: 790px) 
  and (max-device-height: 826px)
  and (-webkit-min-device-pixel-ratio: 2) {

  #sino_alerta{
    margin-left: 164%;
   }


   #config{
    margin-left: 185%;
   }

    #vendas_topo{
    font-size: 22px;
   }

   #div_lucros{
    height: 45%;
   }

   #div_qtd_vendas {
    margin: 90px 0px 30px 0px;
   }

   #titulo_vendastopo {
    margin-top: 10%;
   }

   #div_circulo {
    width: 37%;
   }

   #botão_vermais {
    margin-top: 7%;
    margin-left: 42%;
   }

  }


  @media only screen 
  and (min-device-width: 450px) 
  and (max-device-width: 570px)
  and (-webkit-min-device-pixel-ratio: 2) {

   #div_circulo {
    width: 31%;
  }

  #datas_lucros {
    margin-top: -2%;
  }

  #HR {
    margin-top: -4%;
  }

  #datas_lucros {
    margin-top: -2%;
  }

  #div_lucros {
    height: 55%;
  }

  #divtopo_vendas {
    height: 49%;
  }

  }


  @media only screen 
  and (min-device-width: 270px) 
  and (max-device-width: 300px)
  and (-webkit-min-device-pixel-ratio: 2) {

    #sino_alerta {
    margin-left: 94%;
  	}

    #config {
      margin-left: 78%;
    }

    #botão_vermais {
    margin-left: 24%;
    }

    #valores_lucros {
    font-size: 11px;
    }

  }



 /* @media only screen 
  and (min-device-width: 407px) 
  and (max-device-width: 420px)
  and (-webkit-min-device-pixel-ratio: 2) {

   #div_lucros{
    height: 45%;
   }

   #botão_vermais{
    margin-left: 46%;
   }

   #div_qtd_vendas {
    margin: 66px 0px 30px 0px;
   }


  #titulo_vendastopo {
    margin-top: 11%;
  }

  #div_circulo {
    width: 37%;
  }

  }*/