
@media  screen 
  and (min-device-width: 0px) 
  and (max-device-width: 720px){
   
   	.div_vendas{
   		width: 100%;
   	}


   	.div_lucros{
   		width: 100%;
   	}

   	.div_qtd_vendas {
    	font-size: 14px;
	}

	.div_vendas_semanais {
    	margin: 83px auto;
	}

  .hrs{
    width: 70px;
  }

  .div_dias_semana {
    font-size: 14px;
  }

  .nome_produto {
    font-size: 0.8em;
  }

  .qtd_estoque_vendidos {
    font-size: 0.8em;
  }

 }


@media screen and (min-width: 200px) and (max-width: 880px){ 

.div_vendas_lucros{
	flex-direction: column;
}


.Lucros{
	margin-top: 10%;
  margin-left: 0%;
}

}

@media screen and (min-width: 850px) and (max-width: 970px){ 
  .nome_produto {
    font-size: 0.7rem;
  }

  .qtd_estoque_vendidos {
    font-size: 0.7rem;
  }

}


@media screen and (min-width: 881px) and (max-width: 899px){ 

.div_lucros{
 	width: 23rem;
    height: 17rem;
 }

 .div_vendas{
    width: 23rem;
    height: 17rem;
}

.div_qtd_vendas {
    position: relative;
    margin-top: 22px;
}

.hrs {
    border: 1px solid #FFC9BE;
    width: 80px;
  }

}



@media screen and (min-width: 900px) { 

  .btnMenu{
	display: block;
	background-repeat: no-repeat;	
	text-indent: -9999px;
	padding: 20px 15px;
	background-size: 35px;
	}

.btnMenu_open{
	background-image: url(../imagens/cardapio.svg);
	background-position: 22px center;

}


.btnMenu_close{
	background-color: grey;
	background-image: url(../imagens/cardapio.svg);	
	background-position: 95% center;
}

.menu{
	position: absolute;
	top: 0;
	left: -18 !important;
	width: 40%; 
	transform: translateX(-100%);
	transition: transform 200ms linear;
}


.menu_open{
	transform: translateX(0);
}


.menu-item{
	padding: 20px 15px;
	border-bottom: 1px solid rgba(116, 124, 129, 0.8);
}


.menu-item-action{
	color: grey;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
}


/*.sino_alerta{
	 width: 5vh;
}

.config_topo{
	width: 5vh;
}*/


}



@media screen and (min-width: 900px) and (max-width: 990px){ 
.div_vendas{
    width: 25rem;
    height: 17rem;
}

.div_lucros{
 	width: 25rem;
    height: 17rem;
 }


.div_vendas_titulo{
	padding: 16px 16px;
    font-size: 20px;
}


.div_dias_semana {
    padding: 20px 0px 0px 0px;

}

.div_qtd_vendas {
    margin-top: 13px;
 }

 .Lucros {
    margin-left: 5%;
}

}



@media screen and (min-width: 991px) and (max-width: 1130px){ 
.div_vendas{
    width: 27rem;
    height: 17rem;
}

.div_dias_semana {
    padding: 20px 0px 0px 0px;

}

.div_qtd_vendas {
    margin-top: 13px;
 }


 .div_lucros{
 	width: 27rem;
    height: 17rem;
 }


}



@media screen and (min-width: 1131px) and (max-width: 1370px){ 

.div_lucros{
 	width: 30rem;
    height: 18rem;
 }

 .div_vendas{
    width: 30rem;
    height: 18rem;
}

.div_qtd_vendas {
    margin-top: 23px;
}

.row{
  max-width:90%;
  width:100%
}

}


@media screen and (min-width: 1300px){ 

.sistema_estoque{
  position: relative;
  margin: 20px 21px 35px;
}

.div_vendas{
    width: 28rem;
    height: 18rem;
}

.div_lucros{
    width: 28rem;
    height: 18rem;
}

}





